<form action="/login" method="post">
  {{!-- email --}}
  <div>
    <label for="">email</label>
    <input type="text" name="email">
  </div>
  {{!-- password --}}
  <div>
    <label for="">password</label>
    <input type="password" name="password">
  </div>
  {{!-- button --}}
  <div>
    <button type="submit">
        login
    </button>
  </div>


</form>